.intro {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.bg-animation {
  height: 10px;
  position: fixed;
  padding: 10rem;
}
.intro-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.intro-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
}

.i-bg {
  clip-path: inset(24% 45%, 100% 100%, 100% 0 round 0.1px);
  background-color: #59b256;
  width: 100%;
  height: 80%;
  margin-top: 6rem;
}
.i-left-wrapper {
  padding-left: 2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper h1 {
  font-size: 4.5rem;
  margin: 0;
}
.wrapper h2 {
  font-size: 1.5rem;
  margin: 0px 5px;
}
.wrapper h3 {
  font-size: 2.5rem;
  margin: 0px 5px;
}
.wrapper span {
  font-size: 2.5rem;
  margin: 0px 5px;
}
.titles {
  font-size: 30px;
  color: #59b256;
}
.wrapper a {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.ityped-cursor {
  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
  font-weight: bold;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.i-title-wrapper {
  height: 100px;
}

.i-scroll {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 20px;
}
.intro-bg {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: left;
    justify-content: center;
    height: 100%;
  }
  .i-desc {
    display: none;
  }
  .wrapper h1 {
    font-size: 3.5rem;
    font-weight: 1000;
  }
  .wrapper h2 {
    font-size: 1.5rem;
  }
  .wrapper h3 {
    font-size: 1.5rem;
  }
  .wrapper span {
    font-size: 1.5rem;
  }
}
